<mat-toolbar>
    Users
    <span class="fa-exclamation-circle" (click)="onClick()" [ngClass]="isOpenWarnBanner ? 'hidden' : 'block'">
        <fa-icon [icon]="faExclamationCircle"></fa-icon>
    </span>
</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" position="end" opened>FORM</mat-drawer>
    <mat-drawer-content>
        <div class="warn-info" [ngClass]="isOpenWarnBanner ? 'block' : 'hidden'">
            <div class="warn__info">
                <span (click)="onClick()">
                    <fa-icon [icon]="faTimes" class="fa-times"></fa-icon>
                </span>
                <p>Bring your co-workers into the Safetymint environment. Create new Users and manage how they access
                    data by
                    assigning user-based roles. Build an active database of users to add to your permit forms, sites or
                    workflows.
                    To learn how to add a User, <a href="#">visit our Support page</a>
                </p>
            </div>
        </div>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    ACTIVE ({{isActive(true)}})
                </ng-template>
                <p>Click on a Name to Manage / Assign Licenses</p>

                <app-active-users-table></app-active-users-table>

            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    INACTIVE ({{isActive(false)}})
                </ng-template>
                
                <app-inactive-users-table></app-inactive-users-table>

            </mat-tab>
        </mat-tab-group>
    </mat-drawer-content>
</mat-drawer-container>