<mat-toolbar>
    Users
    <span class="fa-exclamation-circle" (click)="clickEvent()" [ngClass]="status ? 'hidden' : 'block'">
        <fa-icon [icon]="faExclamationCircle"></fa-icon>
    </span>
</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" position="end" opened>FORM</mat-drawer>
    <mat-drawer-content>
        <div class="warn-info" [ngClass]="status ? 'block' : 'hidden'">
            <div class="warn__info">
                <span (click)="clickEvent()">
                    <fa-icon [icon]="faTimes" class="fa-times"></fa-icon>
                </span>
                <p>Bring your co-workers into the Safetymint environment. Create new Users and manage how they access
                    data by
                    assigning user-based roles. Build an active database of users to add to your permit forms, sites or
                    workflows.
                    To learn how to add a User, <a href="#">visit our Support page</a></p>
            </div>
        </div>
        <div class="filter">
            <input class="search-user" matInput (keyup)="applyFilter($event)" placeholder="Search by user role, email">
        </div>
        <mat-tab-group>
            <mat-tab label="ACTIVE (#)">
                <p>Click on a Name to Manage / Assign Licenses</p>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Weight </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Symbol </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-tab>
            <mat-tab label="INACTIVE (#)"> Content 2 </mat-tab>
        </mat-tab-group>
    </mat-drawer-content>
</mat-drawer-container>
