<div class="top-div-sites">

  <h4>Sites</h4>
</div>

<div class="main-site-div">

  <div class="site-menu">
    <div class="center-div"></div>
    <mat-tab-group animationDuration="0ms" >
      <mat-tab label="ACTIVE SITES (1)" >
        111Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quidem hic provident, culpa sed, mollitia voluptate cupiditate dolores officiis aliquam cumque est natus quisquam repellat! Aspernatur, soluta aut? Tempora, facilis veritatis. Illo distinctio aspernatur quae, nobis soluta excepturi commodi veritatis consectetur nemo ducimus delectus nihil repudiandae alias vel, magni quo.
      </mat-tab>
      <mat-tab label="INACTIVE SITES (0)">
        222Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quidem hic provident, culpa sed, mollitia voluptate cupiditate dolores officiis aliquam cumque est natus quisquam repellat! Aspernatur, soluta aut? Tempora, facilis veritatis. Illo distinctio aspernatur quae, nobis soluta excepturi commodi veritatis consectetur nemo ducimus delectus nihil repudiandae alias vel, magni quo.
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="form-in-site">
    <app-site-form></app-site-form>
  </div>

</div>
<div class="site-footer"></div>



