<div class="top-div-sites">

  <h4>Sites</h4>
</div>

<div class="main-site-div">

  <div class="site-menu">
    <div class="center-div"></div>


    <mat-tab-group  animationDuration="0ms">
      <mat-tab class="mat-tab-group" label="ACTIVE SITES (1)" >

          <app-site-table [sites]="sites$ | async" [isActiveSites]="true"></app-site-table>

      </mat-tab>
      <mat-tab label="INACTIVE SITES (0)">

          <app-site-table [sites]="sites$ | async" [isActiveSites]="false"></app-site-table>

      </mat-tab>
    </mat-tab-group>


  </div>

  <div class="form-in-site">
    <app-site-form></app-site-form>
  </div>

</div>
<div class="site-footer"></div>



