.top-div-sites{
  padding-left: 20px;
  height: 55px;
  border: 1px solid gainsboro;
  background-color: white;
}
.top-div-sites h4{
  color: #123773;
}

.item{
  height: 120px;
  background: gray;
}

::ng-deep {
  .mat-tab-label-container {
    background: gray;
  }
}
