<div [hidden]="elementData.length === 0">

    <table>
        <thead>
            <tr>
                <th>
                    User Account Details
                </th>
                <th>
                    Verified
                </th>
                <th>
                    Permits
                </th>
                <th>
                    Incidents
                    <div>
                        Coming Soon
                    </div>
                </th>
                <th>
                    Audits
                    <div>
                        Coming Soon
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    License Summary
                </td>
                <td>
                    (1/5)
                </td>
                <td>
                    -
                </td>
                <td>
                    -
                </td>
            </tr>
            <tr *ngFor="let elem of elementData">
                <td>
                    <div>
                        {{elem.userFullName}}
                    </div>
                    <div>
                        {{userRoles[elem.userRole].roleName}} / {{elem.userEmail}}
                    </div>
                </td>
                <td>
                    <span [hidden]="elem.userIsVerified === false">
                        Yes
                    </span>
                    <span [hidden]="elem.userIsVerified === true">
                        No
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    
    </div>
    
    <div [hidden]="elementData.length !== 0">
        <fa-icon [icon]="faExclamationCircle"></fa-icon>
        No records found
    </div>