<div class="conteiner">
  <form class="add-site" [formGroup]="form" (ngSubmit)="submit()">
    <h3>Add New Site</h3>

    <div class="form-control">
      <label>Site Name<span>*</span></label><br>
      <input type="text" formControlName="siteName">
    </div>

    <div class="form-control">
      <label>Site ID</label><br>
      <input type="text" formControlName="siteId">
    </div>

    <div class="form-control">
      <label>Time zone<span>*</span></label><br>
      <input type="text" formControlName="timeZone">
    </div>

    <div class="form-control">
      <label>Select ocuupier<span>*</span></label><br>
      <input type="text" formControlName="selectOccupier">
    </div>

    <div class="form-control">
      <label>Emergency mobile number<span>*</span></label><br>
      <input type="text" formControlName="emergencyMobileNumber">
    </div>

    <div class="form-control">
      <label>Emergency email ID<span>*</span></label><br>
      <input type="text" formControlName="emergencyEmailId">
    </div>
    <div class="form-radio">
      <div>
        <input type="radio" value="active" formControlName="isActive">
        <label>Active</label><fa-icon [icon]="faExclamationCircle"></fa-icon>
        <input class="last-radio" type="radio" value="inactive" formControlName="isActive">
        <label>Inactive</label>
      </div>

    </div>

    <button class="submit-button" type="submit" [disabled]="form.invalid">Submit</button>

  </form>
</div>